In [ ]:
import pandas as pd

In [ ]:
ff = pd.read_sas('resources/FFQDC_D.XPT')
ff

            SEQN  FFQ_VAR  FFQ_FOOD      FFQ_FREQ FFQ_CODE
0        31129.0      1.0     130.0  5.397605e-79     b'0'
1        31129.0      2.0     128.0  5.000000e-01     b'0'
2        31129.0      3.0     129.0  7.900000e-01     b'0'
3        31129.0      4.0     184.0  2.500000e+00     b'0'
4        31129.0      5.0      12.0  7.900000e-01     b'0'
...          ...      ...       ...           ...      ...
1019116  41474.0    149.0      33.0  6.000000e-02     b'0'
1019117  41474.0    150.0      28.0  2.000000e-02     b'0'
1019118  41474.0    150.0      29.0  6.000000e-02     b'0'
1019119  41474.0    151.0     167.0  1.000000e-02     b'0'
1019120  41474.0    152.0     163.0  2.900000e-01     b'0'

[1019121 rows x 5 columns]

In [ ]:
len(ff)

1019121

In [ ]:
ff.columns

Index(['SEQN', 'FFQ_VAR', 'FFQ_FOOD', 'FFQ_FREQ', 'FFQ_CODE'], dtype='object')

In [ ]:
ff = ff.rename(columns={
    'SEQN':'response seq. #',
    'FFQ_VAR':'variable id',
    'FFQ_FOOD':'food id',
    'FFQ_FREQ':'daily freq',
    'FFQ_CODE':'dialy intake freq. imputation code'
})
ff

,response seq. #,variable id,food id,daily freq,dialy intake freq. imputation code
0,31129.0,1.0,130.0,5.397605e-79,b'0'
1,31129.0,2.0,128.0,5.000000e-01,b'0'
2,31129.0,3.0,129.0,7.900000e-01,b'0'
3,31129.0,4.0,184.0,2.500000e+00,b'0'
4,31129.0,5.0,12.0,7.900000e-01,b'0'
...,...,...,...,...,...
1019116,41474.0,149.0,33.0,6.000000e-02,b'0'
1019117,41474.0,150.0,28.0,2.000000e-02,b'0'
1019118,41474.0,150.0,29.0,6.000000e-02,b'0'
1019119,41474.0,151.0,167.0,1.000000e-02,b'0'
1019120,41474.0,152.0,163.0,2.900000e-01,b'0'

In [ ]:
ff['response seq. #'].unique()

array([31129., 31131., 31132., ..., 41468., 41472., 41474.])

In [ ]:
ff['response seq. #'].value_counts()

36221.0    210
31835.0    209
31734.0    209
36307.0    207
40614.0    206
          ...
34531.0    152
31478.0    152
31591.0    152
39619.0    152
39040.0    152
Name: response seq. #, Length: 6011, dtype: int64